@model IEnumerable<Remedy.Models.Ticket>
@using Remedy.Services.Interfaces;
@inject IBTProjectService projectService

<header class="page-header">
    <h2>My Tickets</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="Index">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>

            <li><span>Tickets</span></li>


        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

<p>
    <a type="button" class="mb-1 mt-1 me-1 btn btn-success" asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">My Tickets</h2>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Last Updated
                            </th>
                            <th>
                                Project
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Assigned To
                            </th>
                            <th>
                                Submitted By
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project!.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType!.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                                </td>
                                <td>
                                    @if (item.DeveloperUserId != null)
                                    {
                                        @item.DeveloperUser!.FullName
                                    }
                                    else
                                    {
                                        <a asp-action="AssignTicketDeveloper" asp-route-id="@item.Id">Assign Developer</a>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubmitterUser!.FullName)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <script src="~/js/examples/examples.datatables.default.js"></script>

}
