@model IEnumerable<Remedy.Models.Notification>

<header class="page-header">
    <h2>Notifications</h2>
    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="Index">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span>Notifications</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">All Tickets</h2>
            </header>
            <div class="card-body">
                <table class="table table-bordered table-striped mb-0" id="datatable-default">
                    <thead>
                        <tr>
                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Sender!.FullName
                                </td>
                                <td>
                                    @item.Recipient!.FullName
                                </td>
                                <td>
                                    @item.NotificationType!.Name
                                </td>
                                <td>
                                    @item.Message
                                </td>
                                <td>
                                    @item.Created
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <script src="~/js/examples/examples.datatables.default.js"></script>
}
