@model Remedy.Models.ViewModels.AssignMembersViewModel

@{
    ViewData["Title"] = "Assign PM";
}

<h1>Project : @Model.Project?.Name</h1>

<h4>Assign Project Manager</h4>
<hr />
<div class="row card">
    <div class="col-md-4">
        <form method="post" asp-action="AssignProjectMembers" asp-controller="Projects">
            <input hidden asp-for="Project!.Id" />

            <h2>@Model.Project?.Name </h2>

            <p>@Model.Project?.Description </p>

            <div class="form-group">
                <label class="control-label">Select Developers</label>
                <select asp-for="DevID" class="form-control" asp-items="@Model.DevList" multiple> 
                    <option></option>
                </select>
                <label class="control-label">Select Submitters</label>
                <select asp-for="SubID" class="form-control" asp-items="@Model.SubList" multiple>
                    <option></option>
                </select>
            </div>
                <input type="submit" value="Assign" class="btn btn-primary" />
        </form>
    </div>
</div>
<div>
    <a asp-action="UnassignedProjects">Back to List</a>
</div>