@using Remedy.Enums
@model Remedy.Models.Project
@using Remedy.Services.Interfaces;
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> UserManager
@inject IBTFileService fileService
@inject IBTProjectService projectService
@inject IBTRolesService rolesService
@inject IBTTicketHistoryService historyService

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<header class="page-header">
    <h2>Project Details</h2>
    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a asp-action="Index">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
            <li><span>Project</span></li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <section class="card card-featured mb-4">
                    <header class="card-header">
                        <h2 class="card-title">Details</h2>
                    </header>
                    <div class="card-body">
                        <h4 class="d-flex justify-content-center fw-bold">@Model.Name</h4>
                        <p><strong>Description:</strong> @Model.Description</p>
                        <ul class="list-unstyled">
                            @*Ticket date*@
                            <li><strong>Date Started:</strong> <span class="">  @Model.Created</</span></li>
                            @*Project end date*@
                            <li><strong>Deadline:</strong> <span class="">  @Model.EndDate</</span></li>
                            @*Ticket type*@
                            <li><strong>Type:</strong> <span class="">  @Model.ProjectPriority!.Name</span></li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="card card-featured mb-4">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                        </div>

                        <h2 class="card-title">Members</h2>
                    </header>
                    <div class="card-body">
                        <table class="table table-responsive-md mb-0">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var member in Model.Members!)
                                {
                                    <tr>
                                        <td>
                                            @member.FullName
                                        </td>
                                        <td>
                                            @foreach (var role in await rolesService.GetUserRolesAsync(member))
                                            {
                                                @role
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    {

                        <div class="card-footer">
                            <div class="row action-buttons">
                                <div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
                                    <a asp-action="AssignProjectMembers" asp-controller="Projects" asp-route-id="@Model.Id" class="btn btn-success btn-px-3 py-2 d-flex align-items-center font-weight-semibold line-height-1">Manage Team</a>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            </div>
            <div class="col">
                <section class="card card-featured">
                    <header class="card-header">
                        <h2 class="card-title">Project Tickets</h2>
                    </header>
                    <div class="card-body">
                        <table class="table table-bordered table-striped mb-0" id="datatable-default">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Last Updated
                                    </th>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Assigned To
                                    </th>
                                    <th>
                                        Submitted By
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Tickets!)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Updated)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Project!.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketPriority!.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketType!.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketStatus!.Name)
                                        </td>

                                        @if (item.DeveloperUserId != null)
                                        {
                                            <td>

                                                @item.DeveloperUser!.FullName
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Not Assigned
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubmitterUser!.FullName)
                                        </td>
                                        @if (User.IsInRole("Submitter") && item.SubmitterUser != btUser)
                                        {
                                            <td>
                                                Not Available
                                            </td>
                                        }
                                        else
                                        {
                                            <td>

                                                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Tickets" class="btn btn-sm btn-primary">Details</a>
                                            </td>

                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <section class="card card-featured mb-3">
            <header class="card-header">
                <h2 class="card-title">Ticket History</h2>
            </header>
            <div class="card-body">
                <ul class="list-unstyled">
                @foreach (var history in (await historyService.GetProjectTicketsHistoriesAsync(Model.Id, Model.CompanyId)).Take(10))
                {
                   <li>

                        <strong>Ticket: </strong>@history.Ticket!.Title
                        <br>
                        <strong>Change: </strong>@history.Description
                        <br>
                        <small>@history.Created <cite>by @history.User!.FullName</cite></small>
                        <hr>
                   </li>
                    
                   
                    
                }
            </div>
        </section>
    </div>

</div>
@section Scripts{
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.js"></script>
    <script src="~/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <script src="~/js/examples/examples.datatables.default.js"></script>
}
